.header {
    width: 100%;
    height: 88px;
    background: var(--preto);
    display: flex;
    align-items: center;
}

.header > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header nav a{
    margin-right:20px;    
    text-decoration: none;
    color: var(--branco);
}
