.footer {
    position: fixed;
    height: 45px;
    width: 100%;
    bottom: 0;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}